.genres{
    background-color: white;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 24px;
    padding-right: 11px;
    padding-top: 16px;

}

.genres li{
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

