body{
    background-color: white;
}

.container .naruto-img{ 
 position: absolute;
 left: -90px;
 top:-20px;
}

.container .content{
    width: 540px;
    position: relative;
    left: 570px;
}

.content h1{
    font-size: 52px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    color: #434343;
    line-height: 70px;
    margin-top: 100px;
}

.content p{
    font-size: 24px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 500;
    color: #414141;
    line-height: 32px;
    margin-top: 36px;
}

.content .buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content .buttons a{
    background-color: #F04C4F;
    font-weight: 500;
    text-decoration: none;
    color: white;
    width: 255px;
    height: 68px;
    text-align: center;
    display: block;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 12px;
}