<link rel="stylesheet" href="/public/css/block.css">

<div class="block">
    <img src="/public/img/block-image.png" alt="block-img" class="background-image">
    <div class="icons">
        <img src="/public/img/rate.png" alt="rate">
        <img src="/public/img/like.png" alt="like">    
    </div>
    <div class = "content">
        <h2 class="section-header"> Истребитель демонов</h2>
        <p class ="content-genre"> Жанр: Драма,Боевик</p>
        <p class="content-age"> Возрастной рейтинг: 16+</p>
    </div>

</div>