<ul class="genres section-header">
    
    <li>
        Жанр
        <img src="/public/img/arrow-down.png" alt="down">
    </li>
    <li>
        Страна
        <img src="/public/img/arrow-down.png" alt="down">
    </li>
    <li>
        Год
        <img src="/public/img/arrow-down.png" alt="down">
    </li>
    <li>
        Перевод
        <img src="/public/img/arrow-down.png" alt="down">
    </li>
</ul>
<link rel="stylesheet" href="/public/css/genres.css">