<link rel="stylesheet" href="/public/css/header.css">
<div class="header">
    <div class="container">
        <img src="/public/img/logo.png" alt="logo" class="logo">
        <ul class="section-header">
            <li><a href="/" >Главная</a></li>
            <li><a href="/manga">Каталог</a></li>
            <li><a href="/anime">Топ–100</a></li>
            <li><a href="#">О нас</a></li>
            <li><img src="/public/img/profile.png" alt="profile" class="profile"></li>  
        </ul>
    </div>
</div>
