<div class="titles">
    <% for (let i = 0; i < 6; i++) { %> 
       <a href="/manmore"><%-include("../blocks/block.ejs") %></a>
    <% } %>
    <%-include("../blocks/genres.ejs") %>
</div>
<link rel="stylesheet" href="/public/css/titles.css">