<div class="comments">
    <h2 class="section-header">Комментарии</h2>
    <textarea placeholder="Ваш комментарий"></textarea>
    <% for (let i = 0; i < 2; i++) { %> 
        <div class="comment"> 
            <img class="avatar" src="/public/img/profile.png" alt="avatar">
            <h2 class="username">STASanda</h2>
            <p class="pubdate">10.12.2021 22:11</p>
            <img class="reply" src="/public/img/comment-buttons.png" alt="reply">
            <p class="comment-text">Ребята аниме просто супер плакал я,девушка,дедушка,кот,собака и метеорит!!! СТАВЛЮ 9 из 10!!!
                Кстати, сайт просто супер!!!! ИДЕАЛ ДЛЯ СДАЧИ ПРОЕКТА ПО ДИСЦИПЛИНЕ МУАМ!!
                </p>
        </div>
     <% } %>
</div>
<link rel="stylesheet" href="/public/css/urcomment.css">
