<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/base.css">
        <link rel="stylesheet" href="/public/css/anime.css">
        <title>Anime</title>
    </head>
    <body>
        <%-include("../blocks/header.ejs") %>
        <div class="container anime">
        
            <%-include("../blocks/search.ejs") %>

            <h1 class="section-header">Недавно добавленная манга</h1>
            <p class="sorting"> Сортировать: <img src="/public/img/sort-menu.png" alt="sort-menu"></p>
            <%-include("../blocks/titlesManga.ejs") %>
        </div>
    </body>
</html>